@import "tailwindcss";

@theme {
  --color-bat-black: #0B0C10;
  --color-bat-dark: #1F2833;
  --color-bat-yellow: #F5C518;
  --color-bat-gray: #C5C6C7;
  --color-bat-blue: #2F80ED;
}

@layer base {
  body {
    @apply bg-bat-black text-bat-gray;
  }
}